html,
body {
	overflow-x: hidden;
	overflow-y: auto;
	background-image: url("../../resources/img/bg6.webp");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#header {
	/* height: 50px; */
	background-color: #ffffffbe;
}

.headeritem {
	height: 100%;
}

.headerimg {
	height: 50px;
}

.headericon {
	height: 30px;
	position: absolute;
	right: 10px;
	top: 0;
	bottom: 0;
	margin: auto;
}

.pointer {
	cursor: pointer;
}

/* notification styling overide  */
.vue-notification {
	margin-right: 0 !important;
}

.notification-content {
	font-size: 16px;
	font-family: system-ui;
}

/* SROLLBAR */
/* width */
::-webkit-scrollbar {
	width: 3px;
	height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px rgb(219, 219, 219);
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #696969;
	border-radius: 2px;
}