:root {
	--shipImageWidth: 100px;
	--shipImageheight: 150px;
}

/* ============= ADD SHIP BUTTON ============= */
.button-default {
	color: white;
	text-align: center;
	text-transform: uppercase;
	padding: 5px 10px;
	margin: 10px;
	display: inline-block;
	width: 95%;
}

.button-slanted {
	-ms-transform: skewX(-20deg);
	-webkit-transform: skewX(-20deg);
	transform: skewX(-20deg);
}

.button-slanted-content {
	-ms-transform: skewX(20deg);
	-webkit-transform: skewX(20deg);
	transform: skewX(20deg);
	display: inline-block;
}

#addship {
	position: absolute;
	width: 80%;
	height: fit-content;
	max-height: 80vh;
	overflow-x: hidden;
	overflow-y: auto;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #FFF;
	padding: 10px;
	box-shadow: 0 0 4px 1px rgb(151, 151, 151);
	border-radius: 5px;
	z-index: 9999999999999999;
}

/* ============= SHIPS IN SHIP LIST ============= */
.shiplist {
	min-height: 155px;
    overflow-y: hidden;
    overflow-x: auto;
    margin-bottom: 0.5em;
    height: auto;
}

.ship {
	position: relative;
	cursor: grab;
}

/* border color + shine */
.shipborder {
	border: 2px solid #d4d4d4;
	border-top: 10px solid #d4d4d4;
	border-bottom: 10px solid #d4d4d4;
	width: fit-content;
	height: var(--shipImageheight);
	overflow: hidden;
}

.shipborder::before {
	content: '';
	display: block;
	position: absolute;
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.3)), color-stop(99%, rgba(128, 186, 232, 0)), color-stop(100%, rgba(125, 185, 232, 0)));
	width: 60px;
	height: 100%;
	top: 0;
	animation: TransitioningBackground 10s ease infinite;
}

.shipborder.Common {
	border-color: #9ca2ad !important;
	background-color: #deeaff;
}

.shipborder.Rare {
	border-color: #5aa2ef !important;
	background-color: #cae4ff;
}

.shipborder.Elite {
	border-color: #8c75ff !important;
	background-color: #ded7ff;
}

.shipborder.Super.rare {
	border-color: #f7dc56 !important;
	background-color: #fff9d9;
}

.shipborder.Ultra {
	border-image: linear-gradient(to bottom right, #ffe2a5 0%, #ffbfa1 15%, #ff95ec 30%, #b497ff 50%, #7de6a8 100%);
	border-image-slice: 1;
}

/* Ship details */
.shipimage {
	height: var(--shipImageheight);
	width: var(--shipImageWidth);
	object-fit: cover;
}

.shipicon {
	top: 0px;
	left: 0px;
	height: 18px;
}

.shipname {
	position: absolute;
	bottom: 5px;
	text-align: center;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	color: #FFF;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 13px;
	padding: 0 7px;
	text-overflow: ellipsis;
	text-wrap: nowrap;
	overflow: hidden;
}

/* EDIT BUTTON */
.editShip {
	position: absolute;
	right: 2px;
	top: 2px;
	color: #555555;
	font-size: 20px;
	cursor: pointer;
	z-index: 9999999999;
}

/* DELETE BUTTON */
.deleteShip {
	position: absolute;
	right: 30px;
	top: 2px;
	color: #a10000;
	font-size: 20px;
	cursor: pointer;
	z-index: 9999999999;
}

/* preview image in add/edit popup */
.newshipimage {
	width: var(--shipImageWidth);
	height: var(--shipImageheight);
	object-fit: cover;
}

/* CLOSE ADD/EDIT POPUP */
.closepopup {
	top: 0;
	right: 10px;
	cursor: pointer;
}

/* ============= TIER LIST ============= */
.tiername {
	width: 100px;
	text-align: center;
	font-weight: bold;

}

.tiername p {
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	height: fit-content;
	margin: auto !important;
	font-size: -webkit-xxx-large;
	font-size: 100px
}

.tiername,
.tierdata {
	min-height: var(--shipImageheight);
}

@keyframes TransitioningBackground {
	0% {
		background-position: 1% 0%;
		transform: translateX(calc(var(--shipImageWidth) - 300px)) skewX(-25deg);
		transition: 1s;
	}

	100% {
		background-position: 1% 0%;
		transform: translateX(calc(var(--shipImageWidth) + 300px)) skewX(-25deg);
		transition: 1s;
	}
}